
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(backgroundimg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 3px;
    color: white;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
input[type="submit"]:hover{
    cursor: pointer;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: rgb(4, 155, 243);
    text-decoration: none;
}
.para-2 a:hover{
    text-decoration: underline;
}


